* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #111111;
}

.menu {
    display: flex;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

/* Nav */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    padding: 24px 100px;
    margin: auto;
    max-width: 1600px;
}

.nav_main-menu {
    font-size: 32px;
    font-weight: 700;
}

.nav_auth-menu {
    gap: 24px;
    font-weight: 500;
}

/* Forms */
.form-container {
    width: 100%;
}

.rt-ContainerInner:has(.form-container) {
    display: flex;
    justify-content: center;
}

.form-container > .rt-Card {
    width: 100%;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-heading {
    margin-bottom: 24px;
}

.form-button-container {
    align-self: end;
    display: flex;
    gap: 12px;
    margin-top: 12px;
}

.form-button {
    width: max-content;
    cursor: pointer;
}
